<form [formGroup]="resetForm">
  <div class="grid">
    <div class="col-12">
      <div class="card flex justify-content-center">
        <p-card header="Login" [style]="{ width: '360px' }">
          <!-- <ng-template pTemplate="header">
             
            </ng-template> -->
          <ng-template pTemplate="content">
            <div>
              <label for="username">Email</label>
              <div>
                <input
                  class="w-100"
                  pInputText
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                />
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
            <div class="flex justify-content-center align-items-center">
              <button
                pButton
                pRipple
                label="Reset Password"
                (click)="sendResetLink()"
              ></button>
            </div>
            <div class="mt-2 flex justify-content-center align-items-center">
              <p-button
                label="Don't have an account? Sign Up here!"
                styleClass="p-button-link"
                routerLink="/sign-up"
              ></p-button>
            </div>
            <div class="mt-2 flex justify-content-center align-items-center">
              <p-button
                label="Already have an account? Login Here"
                styleClass="p-button-link"
                routerLink="/login"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</form>
