<div class="grid">
  <div class="col-12">
    <h2>SERVICES</h2>
    <p>Let's enjoy the services</p>
  </div>
  <div class="col-4 text-center">
    <img
      class="w-100 px-5"
      src="../../../../assets/images/currency-Conversion.png"
      alt=""
      (click)="redirectToService('currency-converter')"
    />
    <span>
      <h3 (click)="redirectToService('currency-converter')">
        Currency Conversion
      </h3></span
    >
  </div>
  <div class="col-4 text-center">
    <img
      (click)="redirectToService('world-ranking')"
      class="w-100 px-5"
      src="../../../../assets/images/world-population.png"
      alt=""
    />
    <span>
      <h3 (click)="redirectToService('world-ranking')">World Ranking</h3></span
    >
  </div>
  <div class="col-4 text-center">
    <img
      (click)="redirectToService('chat-gpt')"
      class="w-100 px-5"
      src="../../../../assets/images/currency-Conversion.png"
      alt=""
    />
    <span> <h3 (click)="redirectToService('chat-gpt')">Chat GPT</h3></span>
  </div>
</div>
