<p-sidebar
  [(visible)]="sidebarVisible"
  [dismissible]="true"
  (visibleChange)="modelChange($event)"
  [closeOnEscape]="true"
>
</p-sidebar>

<div class="grid" *ngIf="isLoggedIn()">
  <div class="col-12">
    <p-menubar [model]="items">
      <ng-template pTemplate="end">
        <img
          class="user-profile mr-3"
          (click)="op.toggle($event)"
          src="../assets/images/img_avatar.png"
        />
      </ng-template>
    </p-menubar>
  </div>
</div>

<p-overlayPanel #op>
  <p-listbox
    dismissable="true"
    [options]="userOptions"
    (onClick)="userOptionSelect($event)"
    optionLabel="name"
  ></p-listbox>
</p-overlayPanel>

<router-outlet></router-outlet>
