<!-- <div class="card">
  <p-card class="flex justify-content-center">
    
      <div class="flex">
        <h3>Helping.Tools</h3>

        <label for="username">Username</label>
        <input
          pInputText
          formControlName="email"
          type="text"
          placeholder="Email or Phone"
        />

        <label for="password">Password</label>
        <input
          pInputText
          type="password"
          formControlName="password"
          placeholder="Password"
        />

      </div>
        
        <div class="social">
          <div class="go"><i class="fab fa-google"></i> Google</div>
          <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </div>
    </form>
  </p-card>
</div> -->
<form [formGroup]="loginForm">
  <div class="grid">
    <div class="col-12">
      <div class="card flex justify-content-center">
        <p-card header="Login" [style]="{ width: '360px' }">
          <!-- <ng-template pTemplate="header">
           
          </ng-template> -->
          <ng-template pTemplate="content">
            <div>
              <label for="username">Email</label>
              <div>
                <input
                  class="w-100"
                  pInputText
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                />
              </div>
            </div>

            <div class="mt-3">
              <label for="password">Password</label>
              <div>
                <input
                  class="w-100"
                  pInputText
                  type="password"
                  formControlName="password"
                  placeholder="Password"
                />
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
            <div class="flex justify-content-center align-items-center">
              <button pButton pRipple label="Log In" (click)="login()"></button>

              <p-button
                label="Forgot Password?"
                styleClass="p-button-link"
                routerLink="/reset-password"
              ></p-button>
            </div>
            <div class="mt-2 flex justify-content-center align-items-center">
              <p-button
                label="Don't have an account?"
                styleClass="p-button-link"
                routerLink="/sign-up"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</form>
