/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


.w-100{
    min-width: 100%;
}

body {
    font-family: var(--font-family);
}

::ng-deep body .ui-button:enabled:focus {
    outline: 0 none;
    outline-offset: 0px;
    box-shadow: none  
}